body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.left-side {
    background-color: #4d403b;
    color: #fff;
    padding: 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-side img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.right-side {
    padding: 40px;
    width: 50%;
    text-align: center;
}

.right-side h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    align-self: flex-start;
    margin: 10px 0 5px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #ff8c00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e07b00;
}

.login-guru {
    margin-top: 20px;
    display: inline-block;
    color: #007BFF;
    text-decoration: none;
}

.login-guru:hover {
    text-decoration: underline;
}

.guru {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.guru:hover {
    background-color: #0056b3;
}
